<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>
      <b>Resume: Jack Zamora Rivera</b>
    </h1>
    <p>********************</p>
    <p>Oakdale MN 55***</p>
    <p>(651) -***-****</p>
    <p>Riverajack753@gmail.com</p>
    <hr>
    <h2>
      <b>Skills</b>
    </h2>
    <ul>
      <li>Teamwork</li>
      <li>Communicating</li>
      <li>Math</li>
    </ul>
    <hr>
    <h2>
      <b>Languages</b>
    </h2>
    <ul>
      <li>English</li>
      <li>Intermediate in Spanish</li>
    </ul>
    <hr>
    <h2>
      <b>Experience</b>
    </h2>
    <ul>
      <li>Chipotle, Woodbury - cashier</li>
      <li>Applebees, Woodbury - Host</li>
      <li>Gopher games football stadium, Minneapolis, cashiers</li>
    </ul>
    <hr>
    <h2>
      <b>Education</b>
    </h2>
    <ul>
      <li>Harding High school, St. Paul - GPA 2.84</li>
    </ul>
  </body>
</html>